OPENAI_MODEL_ID=gpt-4o
OPENAI_QUERY_EXPANSION_MODEL_ID=gpt-4o-mini
OPENAI_API_KEY=sk-proj-abcdefghijklmnopqrstuvwxyz
RAG_MAX_CONTEXT_CHUNKS=12
RAG_QUERY_EXPANSION_EXPAND_TO=5
VECTOR_DB_COLLECTION=wiki-mini-rag-0.0.1
PORT=3000
EMBEDDING_MODEL_ID=Xenova/all-MiniLM-L6-v2
RERANKING_MODEL_ID=mixedbread-ai/mxbai-rerank-xsmall-v1
